@media (min-width: 320px) and (max-width: 576px) {
  .nxt {
      width: 150px;
      height: 35px;
  }
  .serLabelFix {
    margin-left: 5px;
  }
}

@media (min-width: 576px) {
  .nxt {
    width: 190px;
    height: 45px;
  }
}

.nxt {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  font-family: 'Mukta', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #2964ff;
  border: 3px solid #5685FF;
  background-color: #fff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 25px;
  }

.nxt:hover {
  background-color: #0085ff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  border: 3px solid blue;
  transform: translateY(-5px);
}

.goBack{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Mukta', sans-serif;
  font-size: 17px;
  letter-spacing: 0.1px;
  margin-top: 25px;
  width: 140px;
  height: 35px;
  color: #2964ff;
  border: 3px solid #ffffff;
  outline: none;
}

.goBack:hover {
  border: 3px solid #2460ff;
  border-radius: 45px;
  transition: border 0.3s ease-in;
}

.ex-ic-opp{
  margin-left: -6.25px;
}

#hiddenTextarea{
  display: none;
}
