@media(max-width: 428px) {
  #ham576g{
    display: none;
  }
  nav{
    height: 60.5px;
  }
  .s-logo{
    width: 190px;
    margin-left: 10px;
  }
  .headerInfoCont{
    margin-right: 10px;
    flex-direction: row;
    justify-content: flex-end;
  }
  #user-details{
    display: none;
  }
  #credits-container{
    display: none;
  }
  .pfpHeader{
    margin-left: 5px;
  }
  #header-logo{
    font-size: 18px;
  }
}

@media(min-width: 428px) and (max-width: 576px) {
  #ham576g{
    display: none;
  }
  nav{
    height: 60.5px;
  }
  .s-logo{
    width: 220px;
    margin-left: 10px;
  }
  .headerInfoCont{
    margin-right: 10px;
    flex-direction: row;
    justify-content: flex-end;
  }
  #user-details{
    display: none;
  }
  .pfpHeader{
    margin-right: 5px;
  }
  #header-logo{
    font-size: 22px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  #user-details{
    max-width: 120px;
  }
}

@media (max-width: 650px) {
  #header-paypal-link{
    display: none;
  }
}

@media(min-width: 577px) {
  #ham576l{
    display: none;
  }
  nav{
    height: 82.5px;
  }
  .s-logo{
    width: 230px;
    margin-left: 35px;
  }
  .headerInfoCont{
    margin-right: 35px;
    justify-content: space-between;
  }
  .pfpHeader{
    margin-right: 5px;
  }
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.subsLandNav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  box-shadow: 0px 1.5px 5px 1px rgba(0,0,0,0.3);
  position: relative;
  z-index: 1000000;
  background-color: #fcfcfc;
}

.addCreditHeaderButton{
  width: 32px;
  height: 32px;
  color: #0085ff;
  margin-right: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,255,253,0.83);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,255,253,0.83);
}

.nav-flex-contain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1150px;
}

.s-logo{
  display: flex;
  justify-content: space-between;
  font-size: 26px;
}

.header-title{
  margin: 10px;
  font-weight: 600;
  display: flex;
  font-family: "Quicksand", sans-serif;
  position: relative;
  z-index: 1000;
  text-decoration: none;
  color: #000000;
}

.logoContainer{
  display: flex;
  align-items: center;
  height: 45px;
}

.logoContainerHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.headerInfoCont{
  display: flex;
  align-items: center;
}

.pfpHeader{
  width: 50px;
  border-radius: 35px;
  border: 2px solid #d6e6ff;
  padding: 2px;
}

.profileDetails{
  display: flex;
  align-items: center;
  min-width: 60px;
}

.creditsContainer{
  padding: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  font-size: 17px;
  margin-right: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,255,253,0.83);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,255,253,0.83);
  transition: all ease-in 0.2s;
}
